<main class="container__main">
  <section class="container__search">
    <input
      type="text"
      [(ngModel)]="inputValue"
      placeholder="Type here"
      name="search"
    />
    <button class="btn__search" (click)="listRepositories()">Search</button>
  </section>
  <section class="container__repositories">
    <ul class="repositories">
      <h3>1345703 repository results</h3>
      <li>
        <div class="repositorie_icon__container">
          <img src="../../assets/img/repositorie.svg" alt="repositorie">
          <a href="#" target="_blank">nodejs/node</a>
        </div>
        <div class="container__description_stacks">

          <p>Node.js JavaScript runtime :sparkles::turtle::rocket::sparkles:</p>
          <p>javascript js linux macos mit node nodejs runtime windows</p>
        </div>
        <div class="statics">
          <img src="../../assets/img/star.svg" alt="star">
          <p>88354</p>
          <p>JavaScript</p>
          <p>1635</p>
        </div>
      </li>
    </ul>
  </section>

  <div class="container__btn_prev_next">
    <button (click)="previous()">Previous</button>
    <p>{{ count }}</p>
    <button (click)="next()">Next</button>
  </div>
</main>
